nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_beacon/pca10056/s140/ses/Output/Release/Obj/
nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_beacon/pca10056/s140/arm5_no_packs/
nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_beacon/pca10056/s140/iar/
